<app-uppernavbar></app-uppernavbar>

<ion-content class="ion-padding contenido">
  <!--Posible imagen de perfil futura-->
  <!--NOMBRE / OBJETIVO -->
  <div class="profile-header">
    <h3 class="profile-nombre">{{datosPerfil?.name}}</h3>
    <div class="profile-info">
      <span class="profile-badge">Varón</span>
      <span class="profile-badge">22 años</span>
      <span class="profile-badge">Definición</span>
    </div>
  </div>

  <div class="datos-fisicos">
    <div class="dato-item">
      <span class="dato-titulo">Altura</span>
      <span class="dato-valor">178 cm</span>
    </div>
    <div class="separador"></div>
    <div class="dato-item">
      <span class="dato-titulo">Peso</span>
      <span class="dato-valor">70 kg</span>
    </div>
    <div class="separador"></div>
    <div class="dato-item">
      <span class="dato-titulo">% Grasa</span>
      <span class="dato-valor">17%</span>
    </div>
  </div>

  <div class="objetivo-calorias">
    <h4 class="subtitulo">Objetivo de Calorías diario</h4>
    <div class="barra-calorias-container">
      <div class="barra-label">{{ minCalorias }}</div>
      <div class="barra-calorias">
        <div class="barra-fill" [style.width.%]="porcentajeCalorias"></div>
        <div class="marcador-actual" [style.left.%]="porcentajeCalorias"></div>
      </div>
      <div class="barra-label">{{ maxCalorias }}</div>
    </div>
    <div class="valor-actual">{{ currentCalorias }} cal</div>
  </div>

  <div class="estadisticas">
    <h4 class="subtitulo">Estadísticas en base a tus atributos</h4>
    <div class="estadistica-item">
      <span class="estadistica-titulo">IMC</span>
      <span class="estadistica-valor">22.1</span>
    </div>
    <div class="separador"></div>
    <div class="estadistica-item">
      <span class="estadistica-titulo">Masa Muscular</span>
      <span class="estadistica-valor">35 kg</span>
    </div>

    <div class="separador"></div>
    <div class="estadistica-item">
      <span class="estadistica-titulo">Masa Grasa</span>
      <span class="estadistica-valor">12 kg</span>
    </div></div>
  <div id="botones">
  <ion-button class="boton-editar" color="primary"><span>Marcar Objetivo</span></ion-button>
  <ion-button class="boton-editar" color="primary"><span>Registro de pesos</span></ion-button>
  <ion-button class="boton-editar" color="primary" (click)="openEditModal()"><span>Editar Datos</span></ion-button>
  </div>
</ion-content>
<app-lowernavbar></app-lowernavbar>
