ion-header {
  ion-toolbar {
    --background: #0a0e27;
    --color: #ffffff;
    border-bottom: 1px solid #1a1f3a;
  }
}

ion-menu {
  ion-toolbar {
    --background: #1a1f3a;
    --color: #ffffff;
  }
}

ion-list {
  --background: #0a0e27;
}

ion-item {
  --background: #0a0e27;
  --color: #ffffff;
  --border-color: #1a1f3a;

  &:hover {
    --background: #1a1f3a;
  }
}
